@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: 900;
}

li {
    list-style: none;
}

nav {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purp {
    color: #6415FF;   
}

/* Nav Bar */

.nav__link--anchor {
    margin: 0 24px;
    border-bottom: 2px;
    padding-bottom: 4px;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__logo--text {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(36, 62, 99)  ;
}

.nav__link--logo {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--sign-up {
    margin: 0;
    padding: 12px 32px;
    color: #fff;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    background-color: rgb(80, 17, 204);
    border-radius: 20px;
}

.nav__link--sign-up:hover{
    background-color: rgb(100, 21, 255);
}

/* Zweite Part */ 

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__row {
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left__side {
    width: 40%;
    position: relative;
}

.right__side {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.img__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo {
    width: 700px;
    max-width: 768px;

}

.header--text {
    color: #1A202C;
    font-size: 46px;
    text-align: left;
    display: block;
}

.text--para {
    color: #243E63;
    margin: 32px 0;
    font-size: 14px;
}

/* COlor #63A5FF */ 
