@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: 900;
}

li {
    list-style: none;
}

nav {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border-radius: 20px;
    border-style: solid 2px #dadadae0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purp {
    color: #6415FF;   
}

/* Nav Bar */

.nav__link--anchor {
    margin: 0 24px;
    border-bottom: 2px;
    padding-bottom: 4px;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__logo--text {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(36, 62, 99)  ;
}

.nav__link--logo {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--sign-up {
    margin: 0;
    padding: 12px 32px;
    color: #fff;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    background-color: rgb(80, 17, 204);
    border-radius: 20px;
}

.nav__link--sign-up:hover{
    background-color: rgb(100, 21, 255);
}

/* Zweite Part */ 

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__row {
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left__side {
    width: 40%;
    position: relative;
}

.right__side {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.img__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo {
    width: 700px;
    max-width: 768px;

}

.header--text {
    color: #1A202C;
    font-size: 46px;
    text-align: left;
    display: block;
}

.text--para {
    color: #243E63;
    margin: 32px 0;
    font-size: 14px;
}

.input__text {
    position: relative;
    max-width: 28rem;
    text-align: center;
}

.input__wrapper {
    width: 100%;
    max-width: 448px;
    position: relative;
    display: block;
    color: rgb(36, 62, 99);
}

.input__style {
    padding: 20px 192px 20px 32px;
    display: inline-block;
    text-align: start;
    color: rgb(36, 62, 99);
    border: solid 2px rgba(160, 158, 158, 0.5);
    cursor: text;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 8px 0;
    padding: 12px 0;
    top: 0;
    right: 0;
    width: 160px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    color: rgb(247, 250, 252);
    background-color: rgb(100, 21, 255);
    border: solid 2px rgb(226, 232, 240);
}

.customers {
    margin-top: 3rem;
    display: block;
    color: rgb(36, 62, 99);
    text-align: left;
}

.customer--para {
    color: rgb(160, 174, 192);  
}

.trusted--img {
    margin-top: 1rem;
    width: 100%;
    max-width: 350px;
    opacity: 0.5;
}

/* COlor #63A5FF */ 
